{% extends 'base.html' %}
{% block content %}

<div class="col-md-10" style="margin-top:30px;font-size:22px;">
    <div class="col-md-6">
            <h2 class="card-header text-center" style="font-size:42px; margin-top:300px; background-color:#00AEAE;color:white;
            ">About Me</h2>
        <div class="body text-center ">
            <p class="text" style="font-size: 35px; margin-top:25%; color: white;"> I  am a lover of life, and a lover of art. Join me on a journey to explore lifestyle, career, identity and my favorite podcasts.
                
                Offlate Travel has been my biggesst thing in my life.
                
                Some of the places I have been to include:Antalya in Italy,Podgorica in Montenegro,Paris in France.
                
                London in UK,Marrakesh in Morocco among others.

            </a>
        </div>
    </div>
    <div< class="col-md-12">
        <img src=" images/travel.jpg" alt="image" >
    </div>
    </div>

    <style>
        background:blue;

        
    </style>
{% endblock %}