{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:7%">
    {% if search %}
    <input type="search" placeholder="Search..." class="form-control" id="q">
    <h5 class="text-white">Found {{.count}} posts{{results.count|pluralize}}</h5>
    <div class="row">
        <div class="col-md-4">
            {% for  query  in search %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}
                        </h5>
                        <p class="card-text">{{bus.description}}</p>
                        <p class="card-text">Owner: <small class="text-muted">
                            {{ bus.user.user.username|title }}</small></p>
                        <p class="card-text">Email <small>{{.email}}</small></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <h4 class="text-white">Found 0 Blogposts with the name you searched </h4>

    </div>
    {% endif %}
</div>
</div>
{% endblock %}