{% block sidebar %}

<style>
        .card{
            box-shadow: 0 40px 48px ;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Scenes By Pee</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blog where I document my experiences in travel and also give recommendations of best restaurants to stay at.</p>
        <a href="https://www.pinterest.com/megapixuniverse/_created/"
        class="btn btn-info">My Pinterest Link </a>
    </div>
</div>
</div>

{% endblock sidebar %}